<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stopper Óra</title>
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    <link rel="shortcut icon" href="favicon.svg">
    <script src="assets/vue.global.prod.js"></script>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="left-side"></div>
            <div class="right-side">
                <div class="stopwatch-container">
                    <div class="time-display">{{ formattedTime }}</div>
                    <div class="controls">
                        <button 
                            v-if="!isRunning" 
                            @click="start" 
                            class="btn btn-start"
                        >
                            Start
                        </button>
                        <button 
                            v-if="isRunning" 
                            @click="stop" 
                            class="btn btn-stop"
                        >
                            Stop
                        </button>
                        <button 
                            @click="reset" 
                            class="btn btn-reset"
                            :disabled="isRunning"
                        >
                            Reset & Save
                        </button>
                        <button 
                            v-if="bestTimes.length > 0"
                            @click="clearAllTimes" 
                            class="btn btn-clear-all"
                            :disabled="isRunning"
                        >
                            Clear All
                        </button>
                    </div>
                </div>
                
                <div class="best-times">
                    <ul class="time-list" v-if="bestTimes.length > 0">
                        <li 
                            v-for="(timeObj, index) in bestTimes" 
                            :key="index" 
                            class="time-item clickable"
                            @click="removeTimeSimple(index)"
                        >
                            <div class="time-info">
                                <span class="rank">{{ index + 1 }}.</span>
                                <span class="time-value">{{ formatTime(timeObj.time) }}</span>
                            </div>
                            <div class="time-right">
                                <span class="time-ago">{{ formatTimeAgo(timeObj.timestamp) }}</span>
                            </div>
                        </li>
                        <li class="time-item">
                            <div class="time-info">
                                <span class="rank">AVG</span>
                                <span class="time-value">{{ formatTime(averageTimeMs) }}</span>
                            </div>
                            <div class="time-right">
                                <span class="time-ago">&nbsp;</span>
                            </div>
                        </li>
                    </ul>
                    <div v-else class="no-times">
                        Ma még nincsenek rögzített idők.
                    </div>
                    
                    <div v-if="dailyBestTimes.length > 0" class="daily-best-times">
                        <h4>Top 3 Best 🏆</h4>
                        <ul class="daily-time-list">
                            <li 
                                v-for="(dayRecord, index) in dailyBestTimes" 
                                :key="index" 
                                class="daily-time-item clickable"
                                @click="removeDailyBestTime(index)"
                            >
                                <span class="daily-rank">{{ index + 1 }}.</span>
                                <span class="daily-date">{{ formatDateString(dayRecord.date) }}</span>
                                <span class="daily-time-value">{{ formatTime(dayRecord.time) }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/script.js"></script>
</body>
</html>
